/* Careem Sans Font Family */

@font-face {
  font-family: 'Careem Sans';
  src: url('/fonts/careem-sans/CareemSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Careem Sans';
  src: url('/fonts/careem-sans/CareemSans-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Careem Sans';
  src: url('/fonts/careem-sans/CareemSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Careem Sans';
  src: url('/fonts/careem-sans/CareemSans-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

